* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.section-center {
  background: #3fa3d1;
  border: solid 3px rgb(0, 0, 143);
  border-radius: 15px;
  padding: 2rem;
  opacity: 1;
}

.bud {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: xx-large;
  text-transform: inherit;
}

.form-control {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 10px;
}

#grocery {
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 75%;
}

.submit-btn {
  width: 20%;
  background-color: green;
  color: bisque;
  border: none;
  border-radius: 5px;
}

.grocery-container {
  margin-top: 2rem;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  padding: 5px;
  background: rgb(184, 183, 183);
  border-radius: 10px;

}

